.container {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	strong {
		font-weight: 500;
	}
	h1, p {
		width: 100%;
		margin: 0;
		text-align: center;
	}
	h1 {
		font-weight: 300;
		font-size: 30px;
		align-self: flex-end;
		font-family: var(--roboto-font);
		letter-spacing: 0;
	}
	p {
		margin-top: 1.5em;
		align-self: flex-start;
		line-height: 0.85;
		font-family: var(--roboto-font);
	}
	p strong {
		text-transform: uppercase;
		font-size: 65px;
	}
	span {
		display: block;
		font-size: 26px;
		color: #ff036e;
	}
	@media (max-width: 490px) {
		h1 {
			font-size: 6.125vw;
		}
		p strong {
			font-size: 13.125vw;
		}
		span {
			font-size: 5.275vw;
		}
	}
}