@use 'sass:color';
@import './_variables.scss';

.container {
    position: relative;
    width: 100%;

    .background {
        position:fixed;
        background-color:hsla(303,100%,82%,1);
        background-image:
            radial-gradient(at 65% 91%, hsla(266,100%,73%,1) 0px, transparent 50%),
            radial-gradient(at 73% 15%, hsla(195,92%,65%,1) 0px, transparent 50%),
            radial-gradient(at 30% 47%, hsla(248,100%,75%,1) 0px, transparent 50%),
            radial-gradient(at 66% 60%, hsla(316,100%,65%,1) 0px, transparent 50%),
            radial-gradient(at 79% 48%, hsla(199,98%,64%,1) 0px, transparent 50%),
            radial-gradient(at 93% 95%, hsla(243,63%,74%,1) 0px, transparent 50%),
            radial-gradient(at 29% 68%, hsla(237,100%,75%,1) 0px, transparent 50%);
        background-size: 125% 125%;
        filter: blur(80px);
        animation: moveBackground 10s linear infinite;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: scale(1.5);

        :global(.dark) & {
            background-color: none;
            background-image: none;
            display: none;
            animation: none;
        }
    }

    .heart {
        $strokeOffset: 1200;

        position: absolute;
        top: 50vh;
        right: 25%;
        transform: translate(50%, -50%);
        mix-blend-mode: plus-lighter;

        @media (min-height: $flex-max-height + 1) {
          top: 390px;
          transform: translate(50%, 0);
        }

        @media (min-width: 1920px + 1) {
            transform: translate(-20%, -50%);
        }

        svg {
            width: 300px;
            overflow: visible;
            transition: stroke-opacity 1s ease;
            animation: fade 2s ease infinite, bounce 1.5s ease-out infinite;
            animation-delay: 3.25s;

            @media (max-width: $mobile-width) {
                width: 200px;
            }
        }

        path {
            stroke: $color-main;
            stroke-dasharray: $strokeOffset;
            stroke-dashoffset: $strokeOffset;
            animation: visibility forwards, draw 1s linear forwards;
            visibility: hidden;
            animation-delay: 2s;
        }

        :global(.dark) & {
            mix-blend-mode: normal;
            
            path {
                stroke: color.adjust($color-main, $lightness: 20);
            }
        }

        :global(.scrolled) & svg {
            stroke-opacity: 0;
        }

        @include keyframeVisibility;
        @include keyframeDraw(draw, $strokeOffset);
        @include keyframeBounce;
        @include keyframeFade;
    }

    @include keyframeMoveBackground;
}