@use 'sass:color';
@import './_variables.scss';

.container {
    > div {
        @include main-content;
        position: relative;

        p {
            position: relative;
        }

        h2 {
            display: inline;
            font-weight: normal;
            font-size: 3em;
            text-transform: lowercase;
            color: var(--text-accent);
            width: 100%;
            margin: 0 0 0.5em -0.4em;
            padding: 0 0.25em;
    
            &:before {
                content: '<';
            }
            &:after {
                content: '/>';
            }
        }

        > svg, > span svg, &:before, &:after {
            position: absolute;
            z-index: -1;
        }

        &:before, &:after {
            opacity: 0;
            content: '';
            display: block;
            mask-repeat: no-repeat;
            mask-position: top left;
            mask-size: contain;
            transition: transition(opacity);
        }

        > span svg {
            transform: translateZ(0);
            fill-opacity: 0;
            transition: transition(fill-opacity);

            &:global(.sparkle), &:global(.sun), &:global(.heart-swirl) {
                animation: fade 2s ease infinite, bounce 1.5s ease-out infinite;
            }

            &:global(.moon), &:global(.rainbow), &:global(.star) {
                animation: fade 2s ease infinite, bounceReverse 1.5s ease-out infinite;
            }

            @include keyframeBounce;
            @include keyframeBounce(bounceReverse, -25px);
            @include keyframeFade;
        }
    }

    &.active > div {
        &:before, &:after {
            opacity: 1;
        }

        > span svg {
            fill-opacity: 1;
        }
    }

    :global(.dark) &.container > div {
        &:before, &:after {
            mix-blend-mode: normal;
        }
    }
}

// =============
// media queries 
// =============
@media (max-width: 660px) {
    .container > div {
        padding: 1.5em;

        h2 {
            font-size: 2em;
            top: -23px;
        }
    }
}