.container {
    position: relative;

    h3 {
        font-weight: 500;
    }

    & + div {
        margin-top: 2.5rem;
    }

    .position {
        display: block;
    }

    .duration {
        float: right;
    }

    p {
        margin-top: 0.5rem;
    }
}