.container {
    position: relative;
    z-index: 1;

    section { 
        width: 100%;

        > div {
            width: 100%;
            margin: 0 auto;
        }
    }

    .logo {
        display: block;
        background: none;
    
        h1, div {
            overflow: hidden;
            white-space: nowrap;
            transition: font-size 333ms ease;

            opacity: 0;

            &:global(.display) {
                opacity: 1;
            }

            &:after {
                content: '|';
                color: var(--text-accent);
            }
        }
    
        h1 {
            font-size: 5em;
            font-weight: normal;
            text-transform: lowercase;
            color: var(--text-accent);
            margin: 0;

            &:after {
                animation: cursor .75s infinite;
            }

            &:global(.complete) {
                &:before {
                    content: '<';
                }

                &:after {
                    content: '/>';
                    opacity: 1;
                    animation: none;
                }
            }
        }
    
        div {
            display: block;
            letter-spacing: .15em;
            font-size: 2.5em;
            color: var(--foreground-color);
            height: 60px;

            &:after {
                opacity: 0;
                animation: cursor .75s infinite;
                animation-delay: 3s;
            }
        }
    }

    nav {
        width: 100%;
        transition: max-height 333ms ease, opacity 333ms ease;
        max-height: 60px;

        ul, li {
            list-style: none;
        }

        ul {
            height: 60px;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        li {
            margin: 0 1em;

            &:first-of-type {
                margin-left: 0;
            }
            &.active a {
                color: var(--foreground-color);
                background-image: linear-gradient(transparent calc(100% - 2px), var(--foreground-color) 2px);
                background-size: 100% 100%;
            }
        }
    }

    &.scrolled {
        section {
            position: fixed;
            top: 0;
            left: 0;
            padding: 0 1em;
            width: 100%;
            box-shadow: 0 2px 4px rgba(#666,.24), 0 0 0 1px rgba(#666,.08);
            transition: height 333ms ease;

            > div {
                z-index: 1;
                padding: 0;
                position:relative;
                max-width: none;
            }

            &:before {
                content: '';
                background: rgba(var(--background-color), 0.7);
                backdrop-filter: saturate(180%) blur(20px);
                height: 100%;
                position: absolute;
                width: 100%;
            }
        }

        .logo {
            h1 {
                font-size: 2em;
            }
            div {
                font-size: 1.175em;
                margin-top: -0.5em;
                height: auto;
            }
        }

        nav {
            width: auto;
        }
    }
}

// =============
// media queries 
// =============
@media (max-width: 820px) {
    .container:not(.scrolled) .logo { 
        h1 {
            font-size: 9.75vw;
        }
        div {
            font-size: 4.875vw;
        }
    }
}
@media (min-width: 661px) {
    .container.scrolled {
        section > div {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }
}
@media (max-width: 660px) {
    .container.scrolled {
        &.down nav {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
        }
        nav {
            font-size: 3vw;

            ul {
                justify-content: space-between;
            }
        }
    }
}
@media (max-width: 485px) {
    .container:not(.scrolled) nav {
        font-size: 3.3vw;
    }

    .container.scrolled nav{
        font-size: 1em;
    }
}

// =============
//   keyframes
// =============
@keyframes cursor {
    from, to { opacity: 0 }
    50% { opacity: 1 }
}