.container {
    position: relative;

    ul, li {
        list-style: none;
    }
    
    > ul {
        display: flex;
        flex-flow: row wrap;
    }

    > ul li {
        box-sizing: border-box;
        margin: 5px;
        cursor: pointer;
        width: calc(33.33% - 10px);
        height: 150px;
        overflow: hidden;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 4px;

        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
            transition: width 333ms ease, height 333ms ease;
        }

        &:hover img {
            width: 125%;
            height: 125%;
        }
    }

    :global(.inner) {
        max-width: 640px;
    }
}